
p.text-ali {
    text-align: justify;
}


.img_start + p {
    width: 200px;
    text-align: center;
}

.main {
    background-image: url("../movies/background.png");
    background-repeat: no-repeat;
}

.start_info {
    text-align: end;
}

.row_info {
    position: absolute;
    left: 50%;
    font-style: italic;
}

.row_start {
    font-style: italic;
}

button {
    background-color: #e1f0ff; 
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1a75ff; 
}

img.invise {
    width: 300px; 
    height: auto; 
    display: none; 
    margin-top: 20px;
}